/****Additional CSS*****/

.toptitle 
  {
  color: white;
  padding: 0.8em;
  font-size: 7em;
  font-weight: 600;
  }

.purple 
  {background:#963ce1;
  }

.pink 
  {background:#ff4c98;
  }

.blue 
  {background:#149edc;
  }
  
.orange 
  {background:#fa6400;
  }

.yellow 
  {background:#f6cf46;
  }
