/**** Headers for the characteristics *****/

.purple, .pink, .blue, .orange, .yellow 
  {
color: white;
    padding: 0.5em;
    font-size: 5.5em;
    font-weight: 600;
    margin: 30px 0;
  }

.purple 
  {background:#963ce1;
  }

.pink 
  {background:#ff4c98;
  }

.blue 
  {background:#149edc;
  }
  
.orange 
  {background:#fa6400;
  }

.yellow 
  {background:#f6cf46;
  }

.introwords {
  font-size: 1.5em;
    font-style: italic;
    color: #555555;
  margin: 10px 0 20px;
}

/**** Heading styles *****/

.markdown-body h2 {
    border-bottom: 0;
}
